{{! navigation  }}
<nav>
  <div class="sidebar-button">
    {{! <i class="bx bx-menu sidebarBtn"></i> }}
    <span class="dashboard">Welcome back, Xander</span>
  </div>
  <div class="profile-details">
    {{! <img src="images/paristower2.jpg" alt="" />
            <span class="admin_name">Steph Timy</span>
            <i class="bx bx-chevron-down"></i> }}
    <a href="/register" class="auth-btn">Sign up</a>
  </div>
</nav>

{{! summary cards }}
<div class="overview-boxes">
  <div class="box">
    <p class="box-topic">Available Balance</p>
    <p class="number">₦40,876</p>
  </div>
  <div class="box">
    <p class="box-topic">Total Deposits</p>
    <p class="number">₦38,876</p>
  </div>
  <div class="box">
    <p class="box-topic">Total Withdrawals</p>
    <p class="number">₦11,086</p>
  </div>
</div>