{{! sidebar }}
<a class="logo-wrapper" href="/">
  {{! <a> }}
  <i class="bx bxl-c-plus-plus" style="color: #fff; font-size: 28px"></i>
  <span class="fenix-logo">Fenix-Wallet</span>
  {{! </a> }}
</a>

{{! other sections }}
<ul class="nav-links">
  <li>
    <a href="/deposit">
      <i class="bx bx-list-ul"></i>
      <span class="links_name">Deposit</span>
    </a>
  </li>
  <li>
    <a href="/withdraw">
      <i class="bx bx-pie-chart-alt-2"></i>
      <span class="links_name">Withdraw</span>
    </a>
  </li>
  <li>
    <a href="/transfer">
      <i class="bx bx-coin-stack"></i>
      <span class="links_name">Transfer</span>
    </a>
  </li>
  <li>
    <a href="/profile">
      <i class="bx bx-book-alt"></i>
      <span class="links_name">View Profile</span>
    </a>
  </li>
  <li class="log_out">
    <a href="/auth/logout">
      <i class="bx bx-log-out"></i>
      <span class="links_name">Log out</span>
    </a>
  </li>
</ul>