{{!< main }}

{{#if successMsg}}
  <p class="success-message">{{successMsg}}</p>
{{/if}}

<div class="wallet-activity-wrapper">
  <h4 style="color: #333; margin-top: 6px">Wallet activities</h4>
  <div class="card">
    <div class="filter-section">
      <div class="filter-input">
        <input type="text" placeholder="Filter" />
        <i class="bx bx-filter"></i>
      </div>
      <div class="filter-dropdown">
        <select>
          <option value="date">Filter by Date</option>
          <option value="deposits">Filter by Deposits</option>
          <option value="withdrawals">Filter by Withdrawals</option>
          <option value="transfers">Filter by Transfers</option>
        </select>
      </div>
    </div>
    <div class="transaction-cards">
      <div class="transaction-card">
        <div class="details">
          <div class="date">02 Jan 2021</div>
          <div class="status pending">Pending</div>
          <div class="transaction-type withdrawal">Withdrawal</div>
          <div class="amount">₦20,000</div>
        </div>
      </div>
      <div class="transaction-card">
        <div class="details">
          <div class="date">02 Jan 2021</div>
          <div class="status approved">Approved</div>
          <div class="transaction-type deposit">Deposit</div>
          <div class="amount">$24.55</div>
        </div>
      </div>
      <div class="transaction-card">
        <div class="details">
          <div class="date">02 Jan 2021</div>
          <div class="status pending">Pending</div>
          <div class="transaction-type withdrawal">Withdrawal</div>
          <div class="amount">₦20,500</div>
        </div>
      </div>
      <div class="transaction-card">
        <div class="details">
          <div class="date">02 Jan 2021</div>
          <div class="status approved">Approved</div>
          <div class="transaction-type deposit">Deposit</div>
          <div class="amount">₦25,605</div>
        </div>
      </div>
      <!-- Add more transaction cards here -->
    </div>
  </div>
  {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}" /> deprecated --}}
</div>