<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Fenix-Wallet </title>
    <link rel="stylesheet" href="../../public/css/user.css">
    <link rel="stylesheet" href="../../public/css/form.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">Fenix-Wallet</span>
    </div>
      <ul class="nav-links">

        <li>
          <a href="../user/deposit.html">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Deposit</span>
          </a>
        </li>
        <li>
          <a href="../user/withdraw.html">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Withdraw</span>
          </a>
        </li>
        <li>
          <a href="../user/transfer.html">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Transfer</span>
          </a>
        </li>
        <li>
          <a href="../user/viewProfile.html">
            <i class='bx bx-book-alt' ></i>
            <span class="links_name">View Profile</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>

  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Welcome back, Xander</span>
      </div>
      
      <div class="profile-details">
        <img src="images//paristower2.jpg" alt="">
        <span class="admin_name">Steph Timy</span>
        <i class='bx bx-chevron-down' ></i>
      </div>
    </nav>


    <main>
        <div class="main">
            <h2>USER PROFILE</h2>
            <div class="card">
                <div class="card-body">
                    <i class="fa fa-pen fa-xs edit"></i>
                    <table>
                        <tbody>
                            <tr>
                                <td>Status</td>
                                <td>:</td>
                                <td>User</td>
                            </tr>
                            <tr>
                                <td>First Name</td>
                                <td>: </td>
                                <td>Satoshi</td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td>: </td>
                                <td>Nakamto</td>
                            </tr>
                            <tr>
                                <td>Other Names</td>
                                <td>: </td>
                                <td>Cz</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>: </td>
                                <td>CzNakamoto@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Date Of Birth</td>
                                <td>: </td>
                                <td>12-23-2022</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="cancelbtn" type="submit">Edit Profile</button>
    </main>
</section>
</body>
</html>
